# initial for starwars_faiss.ipynb
langchain-openai
langchain
langchain-text-splitters
lxml
octoai-sdk
langchain-community
faiss-cpu
tiktoken
transformers

jupyter

# for our product
openai
pandas
streamlit